@{
    string AreaName = string.Empty;
    object AreaNameObject;
    var PageName = (ViewContext.RouteData.Values.GetValueOrDefault("page", "").ToString()).Split('/');
    ViewBag["PageName"] = PageName;
    if(ViewContext.RouteData.Values.TryGetValue("area", out AreaNameObject))
    {
        AreaName = AreaNameObject.ToString();
    }
}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Activitar Template">
    <meta name="keywords" content="Activitar, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - Fitness Center</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css"asp-append-version="true">
    @if(AreaName == "Identity")
    {
    <link rel="stylesheet" href="~/css/style-register.css" type="text/css"asp-append-version="true">
    }

</head>

<body id='@(AreaName == "Identity" ? "background-body" : "")'>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class='header-section @(PageName[1] != "Index" ? "header-normal" : "")'>
        <div class="container-fluid">
            <div class="logo">
                <a href="./index.html">
                    <img src="img/logo.png" alt="">
                </a>
            </div>
            <div class="top-social">
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
            <div class="container">
                <div class="nav-menu">
                    <nav class="mainmenu mobile-menu">
                        <ul>
                            <li class='@(PageName[1] == "Index" ? "active" : "")'><a asp-page="Index" asp-area="">Home</a></li>
                            <li class='@(PageName[1] == "About-Us" ? "active" : "")'><a asp-page="About-Us" asp-area="">About us</a></li>
                            <li class='@(PageName[1] == "Schedule" ? "active" : "")'><a asp-page="Shedule" asp-area="">Schedule</a></li>
                            <li class='@(PageName[1] == "Gallery" ? "active" : "")'><a href="./gallery.html">Gallery</a></li>
                            <li class='@(PageName[1] == "Blog" ? "active" : "")'><a href="./blog.html">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="./about-us.html">About Us</a></li>
                                    <li><a href="./blog-single.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./contact.html">Contacts</a></li>
                            <li><a>|</a></li>
                            <partial name="_LoginPartial"></partial>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->


    <div class='@(AreaName == "Identity" ? "container container-body" : "")'>
        @RenderBody()
    </div>


    <!-- Js Plugins -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/masonry.pkgd.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>